.intro {
    color: rgba(106,213,190,1);
}

body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background: rgb(106,213,190);
    background: linear-gradient(273deg, rgba(106,213,190,1) 0%, rgba(101,230,183,1) 35%, rgba(0,212,255,1) 100%);
    overflow:hidden;
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    font-size: min(100%, 5vmin);
  }
  
  .center{
    position:absolute;
    top:30%;
    left:50%;
    transform:prespective(100px) translate(-50%,-50%);
    transform:skewY(15deg);
    transition:0.5s;
  }
  
  .center:hover{
    transform:prespective(100px) translate(-50%,-50%);
    transform:skewY(0deg);
  }
  
  .center h3 span{
    position:absolute;
    top:0;
    left:0;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size:12em;
    color:#fff;
    transform-style:preserve-3d;
    transition:0.8s;
  }
  .center h3 span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  }
  
  
  
  .center h3 span:nth-child(2){
    color:#5E17EB;
    transform:translate(-50%,-50%) skewX(-60deg);
    left:-38px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  
  .center h3 span:nth-child(3){
    transform:translate(-50%,-50%) skewY(0deg);
    left:-76px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  }
  
  .center:hover h3 span:nth-child(2), 
  .center:hover h3 span:nth-child(3){
    transform:translate(-50%,-50%) skewX(0deg);
    left:0;
    color:#fff;
  }
  article {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(64, 74%, 79%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  h1 {
    font-size: 10vmin;
    line-height: 1.1;
  }
  

  
  h1, p, body {
    margin: 0;
  }
  
  p {
    font-family: "Dank Mono", ui-monospace, monospace;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }